**Util functions**

searchPostId(post_id, all_tables_df): all tables and rows attributed to post_id
searchPostId(postId): all tables and rows attributed to post_id, accessible after all_tables_df is created
***

# Initialization and DB connection

In [1]:
import os
os.chdir('/Users/ofriedler/Dropbox/Work/Consultation/Manufuture/dev/manufuture')

!pwd

/Users/ofriedler/Dropbox/Work/Consultation/Manufuture/dev/manufuture

In [2]:
# PROJECT_PATH='/Users/ofriedler/Dropbox/Work/Consultation/Manufuture/dev/manu_python'
import pandas as pd
import datetime
import math
from datetime import datetime
import matplotlib.pyplot as plt
import json
from db_ops import db_module
from utils.util_functions import searchPostId, searchString, parse_list_of_integers
from utils import util_functions 
import manu_main
from displays import all_displays


from sqlalchemy import create_engine

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 300)
DB_CONNECTION_STRING = "mysql+pymysql://root:mysql123@localhost/manufuture"
EMAIL_LOGS_DIR = '/Users/ofriedler/Dropbox/Work/Consultation/Manufuture/dev/logs-2021-05-01_2021-12-30.csv'

# From database to all_tables_df

all_tables_raw = db_module.build_all_tables_df()
all_tables_raw['wp_manufacturers']
all_tables_raw['wp_manufacturers'][['post_id', 'street', 'cnc_milling']]

In [3]:
all_tables_df = manu_main.get_all_tables_df()
wp_quotes = all_tables_df['wp_quotes']
wp_manufacturers = all_tables_df['wp_manufacturers']
wp_projects = all_tables_df['wp_projects']
wp_parts = all_tables_df['wp_parts']
wp_postmeta = all_tables_df['wp_postmeta']
wp_posts = all_tables_df['wp_posts']
bids = all_tables_df['bids']
wp_users = all_tables_df['wp_users']
wp_usermeta = all_tables_df['wp_usermeta']

def searchPostId(post_id):
    util_functions.searchPostId(post_id, all_tables_df)

def searchString(str_val):
    util_functions.searchString(str_val, all_tables_df)

WARNING:root:table_name:wp_quotes
WARNING:root:table_name:wp_type_quote
WARNING:root:Warning: found an empty entry of bids.
WARNING:root:Warning: found an empty entry of bids.

In [4]:
list(all_tables_df.keys())

['wp_actionscheduler_actions',
 'wp_actionscheduler_claims',
 'wp_actionscheduler_groups',
 'wp_actionscheduler_logs',
 'wp_agency_invitation',
 'wp_agency_notification',
 'wp_agency_notifications',
 'wp_as3cf_items',
 'wp_commentmeta',
 'wp_comments',
 'wp_links',
 'wp_manufacturers',
 'wp_options',
 'wp_parts',
 'wp_pmxe_exports',
 'wp_pmxe_google_cats',
 'wp_pmxe_posts',
 'wp_pmxe_templates',
 'wp_postmeta',
 'wp_posts',
 'wp_projects',
 'wp_quotes',
 'wp_shipping_times',
 'wp_term_relationships',
 'wp_term_taxonomy',
 'wp_termmeta',
 'wp_terms',
 'wp_usermeta',
 'wp_users',
 'wp_vendor_notifications',
 'wp_wc_admin_note_actions',
 'wp_wc_admin_notes',
 'wp_wc_category_lookup',
 'wp_wc_customer_lookup',
 'wp_wc_download_log',
 'wp_wc_order_coupon_lookup',
 'wp_wc_order_product_lookup',
 'wp_wc_order_stats',
 'wp_wc_order_tax_lookup',
 'wp_wc_product_attributes_lookup',
 'wp_wc_product_download_directories',
 'wp_wc_product_meta_lookup',
 'wp_wc_rate_limits',
 'wp_wc_reserved_stock',
 'wp_wc_tax_rate_classes',
 'wp_wc_webhooks',
 'wp_woocommerce_api_keys',
 'wp_woocommerce_attribute_taxonomies',
 'wp_woocommerce_downloadable_product_permissions',
 'wp_woocommerce_log',
 'wp_woocommerce_order_itemmeta',
 'wp_woocommerce_order_items',
 'wp_woocommerce_payment_tokenmeta',
 'wp_woocommerce_payment_tokens',
 'wp_woocommerce_sessions',
 'wp_woocommerce_shipping_zone_locations',
 'wp_woocommerce_shipping_zone_methods',
 'wp_woocommerce_shipping_zones',
 'wp_woocommerce_tax_rate_locations',
 'wp_woocommerce_tax_rates',
 'wp_wpmailsmtp_debug_events',
 'wp_wpmailsmtp_tasks_meta',
 'wp_wt_iew_action_history',
 'wp_wt_iew_mapping_template',
 'wp_type_acf-field-group',
 'wp_type_acf-field',
 'wp_type_page',
 'wp_type_certification',
 'wp_type_agency',
 'wp_type_attachment',
 'wp_type_part',
 'wp_type_quote',
 'wp_type_manufacturer',
 'wp_type_product',
 'wp_type_project',
 'wp_type_bid',
 'wp_type_shop_order',
 'wp_type_avl',
 'wp_type_agency_notification',
 'wp_type_vendor_notification',
 'wp_type_shipping_time',
 'wp_type_agency_invitation',
 'bids',
 'user_to_entity_rel',
 'pm_project_manufacturer',
 'pam_project_active_manufacturer_th_1',
 'monthly_bid_success_rate',
 'monthly_projects_stats',
 'monthly_manufacturers_stats',
 'stats_by_num_candidates',
 'ac_agency_manufacturer']

# One to one comparison

## quotes

In [5]:
all_tables_df['wp_quotes']

,id,post_id,status,project,agency,bids,chosen_bids,doc_sl,doc_sf,doc_ml,doc_mf,doc_int,chosen_quote,doc_xls,competing_manufacturers,winning_manufacturers,num_candidates,is_bid_chosen
21,29,1257,closed_quote,1207,1198,"[1256,1273,1275]",None,None,None,None,None,None,None,None,"[770, 740, 774]",[],3,False
22,30,1318,active,1288,1198,"[1317,1319,1320,1329,1330,1333]",1330,None,None,None,None,None,None,None,"[770, 742, 1276, 756, 1266, 740]",[1266],6,True
23,31,1346,closed_quote,1335,1334,"[1345,1351]",None,None,None,None,None,None,None,None,"[742, 766]",[],2,False
24,32,1348,closed_quote,1339,1334,"[1347,1352]",None,None,None,None,None,None,None,None,"[1276, 766]",[],2,False
25,33,1416,closed_quote,1386,1198,"[1415,1417,1418,1421,1427]",None,None,None,None,None,None,None,None,"[766, 756, 770, 1266, 1276]",[],5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,964,80142,on_quote,80051,80050,"[80141,80306,80316]",None,None,None,None,None,None,None,None,"[36004, 54499, 5314]",[],3,False
933,965,80312,on_quote,80155,1272,"[80311,80322,80484]",None,None,None,None,None,None,None,None,"[36004, 65418, 5314]",[],3,False
934,966,80493,on_quote,80149,80148,"[80492,80494,80496,80535]",None,None,None,None,None,None,None,None,"[36004, 54499, 63577, 5314]",[],4,False
935,967,80839,waiting_approval,80788,67443,80838,80838,None,None,None,None,None,international,None,[15228],[15228],1,True
936,968,80849,waiting_approval,80611,67443,80848,80848,None,None,None,None,None,international,None,[15228],[15228],1,True

In [6]:
all_tables_df['wp_type_quote']

meta_key,post_id,agency,bids,chosen_bids,chosen_quote,doc_int,doc_mf,doc_ml,doc_sf,doc_sl,doc_xls,docs_int,docs_int_0_country,docs_int_0_file,docs_int_1_country,docs_int_1_file,project,status
21,1257,1198,"[1256, 1273, 1275]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1207,closed_quote
22,1318,1198,"[1317, 1319, 1320, 1329, 1330, 1333]",1330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1288,active
23,1346,1334,"[1345, 1351]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1335,closed_quote
24,1348,1334,"[1347, 1352]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1339,closed_quote
25,1416,1198,"[1415, 1417, 1418, 1421, 1427]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1386,closed_quote
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,80142,80050,"[80141, 80306, 80316]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80051,on_quote
933,80312,1272,"[80311, 80322, 80484]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80155,on_quote
934,80493,80148,"[80492, 80494, 80496, 80535]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80149,on_quote
935,80839,67443,80838,80838,international,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80788,waiting_approval
936,80849,67443,80848,80848,international,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80611,waiting_approval

In [13]:
def one_to_one_compare(table_a, table_b):
    for column in table_a.columns:
        if column not in table_b.columns:
            print("column " + column + " is in table_a but not in table_b")
            
one_to_one_compare(all_tables_df['wp_quotes'], all_tables_df['wp_type_quote'])

column id is in table_a but not in table_b
column competing_manufacturers is in table_a but not in table_b
column winning_manufacturers is in table_a but not in table_b
column num_candidates is in table_a but not in table_b
column is_bid_chosen is in table_a but not in table_b

In [7]:
list(all_tables_df['wp_quotes'].columns)

['id',
 'post_id',
 'status',
 'project',
 'agency',
 'bids',
 'chosen_bids',
 'doc_sl',
 'doc_sf',
 'doc_ml',
 'doc_mf',
 'doc_int',
 'chosen_quote',
 'doc_xls',
 'competing_manufacturers',
 'winning_manufacturers',
 'num_candidates',
 'is_bid_chosen']

In [8]:
merged_quotes_df = all_tables_df['wp_quotes'].merge(all_tables_df['wp_type_quote'], how='outer', left_on='post_id', right_on='post_id')

In [9]:
list(merged_quotes_df.columns)

['id',
 'post_id',
 'status_x',
 'project_x',
 'agency_x',
 'bids_x',
 'chosen_bids_x',
 'doc_sl_x',
 'doc_sf_x',
 'doc_ml_x',
 'doc_mf_x',
 'doc_int_x',
 'chosen_quote_x',
 'doc_xls_x',
 'competing_manufacturers',
 'winning_manufacturers',
 'num_candidates',
 'is_bid_chosen',
 'agency_y',
 'bids_y',
 'chosen_bids_y',
 'chosen_quote_y',
 'doc_int_y',
 'doc_mf_y',
 'doc_ml_y',
 'doc_sf_y',
 'doc_sl_y',
 'doc_xls_y',
 'docs_int',
 'docs_int_0_country',
 'docs_int_0_file',
 'docs_int_1_country',
 'docs_int_1_file',
 'project_y',
 'status_y']

In [10]:
merged_quotes_df[merged_quotes_df['project_x'].isnull()]

Empty DataFrame
Columns: [id, post_id, status_x, project_x, agency_x, bids_x, chosen_bids_x, doc_sl_x, doc_sf_x, doc_ml_x, doc_mf_x, doc_int_x, chosen_quote_x, doc_xls_x, competing_manufacturers, winning_manufacturers, num_candidates, is_bid_chosen, agency_y, bids_y, chosen_bids_y, chosen_quote_y, doc_int_y, doc_mf_y, doc_ml_y, doc_sf_y, doc_sl_y, doc_xls_y, docs_int, docs_int_0_country, docs_int_0_file, docs_int_1_country, docs_int_1_file, project_y, status_y]
Index: []

In [11]:
merged_quotes_df[['post_id', 'status_x', 'status_y', 'project_x', 'project_y', 'agency_x', 'agency_y', 'bids_x', 'bids_y', 'chosen_bids_x', 'chosen_bids_y']].head(300)

,post_id,status_x,status_y,project_x,project_y,agency_x,agency_y,bids_x,bids_y,chosen_bids_x,chosen_bids_y
0,1257,closed_quote,closed_quote,1207,1207,1198,1198,"[1256,1273,1275]","[1256, 1273, 1275]",None,[]
1,1318,active,active,1288,1288,1198,1198,"[1317,1319,1320,1329,1330,1333]","[1317, 1319, 1320, 1329, 1330, 1333]",1330,1330
2,1346,closed_quote,closed_quote,1335,1335,1334,1334,"[1345,1351]","[1345, 1351]",None,[]
3,1348,closed_quote,closed_quote,1339,1339,1334,1334,"[1347,1352]","[1347, 1352]",None,[]
4,1416,closed_quote,closed_quote,1386,1386,1198,1198,"[1415,1417,1418,1421,1427]","[1415, 1417, 1418, 1421, 1427]",None,[]
5,1430,active,active,1422,1422,1198,1198,1429,1429,1429,1429
6,1485,active,active,1449,1449,1198,1198,"[1484,1553,1554]","[1484, 1553, 1554]",1554,1554
7,1601,closed_quote,closed_quote,1571,1571,1557,1557,"[1600,1604,1669]","[1600, 1604, 1669]",None,[]
8,1607,closed_quote,closed_quote,1511,1511,1272,1272,1606,1606,None,[]
9,1646,active,active,1611,1611,1272,1272,"[1645,1700]","[1645, 1700]",1700,1700
10,1666,active,active,1644,1644,1198,1198,"[1667,1668,1673,1686]","[1667, 1668, 1673, 1686]",1686,1686
11,1789,closed_quote,closed_quote,1775,1775,1712,1712,"[1788,1790,1792,1794]","[1788, 1790, 1792, 1794]",None,[]
12,2085,closed_quote,closed_quote,1953,1953,1712,1712,2084,2084,None,[]
13,2087,closed_quote,closed_quote,2006,2006,1198,1198,"[2086,2093,2153]","[2086, 2093, 2153]",None,[]
14,2089,closed_quote,closed_quote,2019,2019,1198,1198,"[2088,2090,2157]","[2088, 2090, 2157]",None,[]
15,2092,active,active,2048,2048,2047,2047,"[2091,2154,2190,2193]","[2091, 2154, 2190, 2193]",2193,2193
16,2156,closed_quote,closed_quote,2136,2136,1272,1272,"[2155,2183,2189,2192]","[2155, 2183, 2189, 2192]",None,[]
17,2268,active,active,2214,2214,1198,1198,"[2267,2277,2279]","[2267, 2277, 2279]","[2277,2277,2277,2277,2277,2277,2277,2277,2277]","[2277, 2277, 2277, 2277, 2277, 2277, 2277, 227..."
18,2289,closed_quote,closed_quote,2281,2281,2280,2280,"[2288,2424,2427]","[2288, 2424, 2427]",None,[]
19,2421,closed_quote,closed_quote,2383,2383,1198,1198,"[2420,2426,2433]","[2420, 2426, 2433]",None,[]
20,2423,closed_quote,closed_quote,2290,2290,1198,1198,[2432],[2432],None,[]
21,2586,closed_quote,closed_quote,2456,2456,1712,1712,"[2585,2610,2704]","[2585, 2610, 2704]",None,[]
22,2588,closed_quote,closed_quote,2495,2495,2200,2200,2587,2587,None,[]
23,2798,active,active,2781,2781,1198,1198,"[2797,2825]","[2797, 2825]",2825,2825
24,2830,closed_quote,closed_quote,2611,2611,2197,2197,[2829],[2829],None,[]
25,2917,closed_quote,closed_quote,2835,2835,1712,1712,[2916],[2916],None,[]
26,2964,closed_quote,closed_quote,2942,2942,2807,2807,2963,2963,None,[]
27,3081,active,active,3067,3067,1198,1198,"[3080,3082,3336,3339,3399,3614]","[3080, 3082, 3336, 3339, 3399, 3614]","[3082,3336,3336]","[3082, 3336, 3336]"
28,3165,closed_quote,closed_quote,3142,3142,1198,1198,"[3164,3337,3488,3489,3627]","[3164, 3337, 3488, 3489, 3627]",None,[]
29,3576,closed_quote,closed_quote,2971,2971,1712,1712,3575,3575,None,[]
30,3588,closed_quote,closed_quote,3368,3368,2047,2047,"[3587,3594]","[3587, 3594]",None,[]
31,3590,closed_quote,closed_quote,3166,3166,1198,1198,"[3589,3615,3629]","[3589, 3615, 3629]",None,[]
32,3592,closed_quote,closed_quote,3525,3525,3094,3094,"[3591,3671,3734]","[3591, 3671, 3734]",None,[]
33,3613,active,active,3595,3595,2807,2807,"[3612,3628]","[3612, 3628]","[3628,3628,3628,3628]","[3628, 3628, 3628, 3628]"
34,3655,active,active,3645,3645,2807,2807,"[3654,3732]","[3654, 3732]",3654,3654
35,3726,closed_quote,closed_quote,3718,3718,1198,1198,"[3725,3729,3731,3737,3854]","[3725, 3729, 3731, 3737, 3854]",None,[]
36,3728,closed_quote,closed_quote,3673,3673,1198,1198,"[3727,3730]","[3727, 3730]",None,[]
37,3736,active,active,3632,3632,1557,1557,[3735],[3735],3735,3735
38,3844,closed_quote,closed_quote,3801,3801,1198,1198,"[3843,3855]","[3843, 3855]",None,[]
39,3899,closed_quote,closed_quote,3876,3876,1198,1198,"[3898,3916]","[3898, 3916]",None,[]
40,4109,archived,archived,4005,4005,2807,2807,[4108],[4108],[4108],[4108]
41,4111,closed_quote,closed_quote,3918,3918,3917,3917,"[4110,4117,4118]","[4110, 4117, 4118]",None,[]
42,4116,closed_quote,closed_quote,3988,3988,2807,2807,4115,4115,None,[]
43,4170,closed_quote,closed_quote,4122,4122,4121,4121,"[4169,4347,4364]","[4169, 4347, 4364]",None,[]
44,4391,active,active,4360,4360,3094,3094,"[4390,4398]","[4390, 4398]",4398,4398
45,4394,closed_quote,closed_quote,4338,4338,4301,4301,"[4393,4395,4396]","[4393, 4395, 4396]",None,[]
46,4484,active,active,4450,4450,1198,1198,"[4483,4494,4526,4548,4576]","[4483, 4494, 4526, 4548, 4576]","[4526,4576]","[4526, 4576]"
47,4510,closed_quote,closed_quote,4499,4499,4495,4495,"[4509,4522]","[4509, 4522]",None,[]
48,4524,closed_quote,closed_quote,4511,4511,4495,4495,"[4523,4525]","[4523, 4525]",None,[]
49,4546,active,active,4530,4530,2807,2807,"[4545,4594]","[4545, 4594]",4545,4545
50,4596,closed_quote,closed_quote,4555,4555,2807,2807,"[4595,4871]","[4595, 4871]",None,[]
51,4598,active,active,4579,4579,2047,2047,"[4597,4606]","[4597, 4606]",4606,4606
52,4600,closed_quote,closed_quote,4589,4589,2807,2807,"[4599,4870]","[4599, 4870]",None,[]
53,4602,closed_quote,closed_quote,4584,4584,2807,2807,"[4601,4739,4872]","[4601, 4739, 4872]",None,[]
54,4746,closed_quote,closed_quote,4696,4696,4695,4695,"[4745,4864,5041]","[4745, 4864, 5041]",None,[]
55,4749,closed_quote,closed_quote,4611,4611,3656,3656,4748,4748,None,[]
56,4751,closed_quote,closed_quote,4619,4619,3656,3656,4750,4750,None,[]
57,4866,active,active,4752,4752,1198,1198,"[4865,5129,5137,5183]","[4865, 5129, 5137, 5183]",[5129],[5129]
58,5036,closed_quote,closed_quote,4440,4440,2807,2807,5035,5035,None,[]
59,5039,closed_quote,closed_quote,4485,4485,2807,2807,5038,5038,None,[]
60,5126,closed_quote,closed_quote,5098,5098,3094,3094,"[5125,5127,5128,5145,5182]","[5125, 5127, 5128, 5145, 5182]",None,[]
61,5136,closed_quote,closed_quote,4874,4874,1557,1557,"[5135,5181,5184,5195,5201]","[5135, 5181, 5184, 5195, 5201]",None,[]
62,5266,closed_quote,closed_quote,5206,5206,3094,3094,"[5265,5270,5719]","[5265, 5270, 5719]",None,[]
63,5374,closed_quote,closed_quote,5324,5324,5323,5323,"[5373,5440,5444,5467]","[5373, 5440, 5444, 5467]",None,[]
64,5437,active,active,5375,5375,2453,2453,"[5436,5443,5469,5470]","[5436, 5443, 5469, 5470]",5436,5436
65,5439,active,active,5382,5382,1198,1198,"[5438,5441,5442,5453,5468]","[5438, 5441, 5442, 5453, 5468]",5453,5453
66,5472,archived,archived,5290,5290,4820,4820,[5585],[5585],None,[]
67,5587,closed_quote,closed_quote,5510,5510,5477,5477,"[5586,5620,5624,5634,5775,5793,6067,6068,6086]","[5586, 5620, 5624, 5634, 5775, 5793, 6067, 606...",None,[]
68,5619,active,active,5588,5588,1557,1557,"[5618,5774,6085]","[5618, 5774, 6085]",6085,6085
69,5773,active,active,5633,5633,1557,1557,"[5772,6073,6114]","[5772, 6073, 6114]",6073,6073
70,6070,closed_quote,closed_quote,5899,5899,1712,1712,"[6069,6074,6077,6113,6158]","[6069, 6074, 6077, 6113, 6158]",None,[]
71,6072,active,active,5910,5910,5477,5477,"[6071,6075,6117,6164,6166,6242]","[6071, 6075, 6117, 6164, 6166, 6242]",6164,6164
72,6079,active,active,5819,5819,1272,1272,"[6078,6076,6115,6121]","[6078, 6076, 6115, 6121]",6078,6078
73,6112,active,active,6080,6080,1272,1272,"[6111,6163,6176,6360]","[6111, 6163, 6176, 6360]",6163,6163
74,6156,active,active,6128,6128,1198,1198,"[6155,6157,6162,6177,6200]","[6155, 6157, 6162, 6177, 6200]",6200,6200
75,6206,closed_quote,closed_quote,6167,6167,1198,1198,"[6205,6207,6240,6370,6372]","[6205, 6207, 6240, 6370, 6372]",None,[]
76,6239,closed_quote,closed_quote,6209,6209,1198,1198,"[6238,6241,6369,6371]","[6238, 6241, 6369, 6371]",None,[]
77,6340,closed_quote,closed_quote,6246,6246,1198,1198,"[6339,6374]","[6339, 6374]",None,[]
78,6376,closed_quote,closed_quote,6256,6256,1198,1198,6375,6375,None,[]
79,6417,closed_quote,closed_quote,6380,6380,1198,1198,6416,6416,None,[]
80,6646,active,active,6480,6480,2047,2047,"[6645,6647,6648,6650]","[6645, 6647, 6648, 6650]",6648,6648
81,6713,closed_quote,closed_quote,6655,6655,5477,5477,"[6712,6714,6719,6754]","[6712, 6714, 6719, 6754]",None,[]
82,6801,closed_quote,closed_quote,6743,6743,5477,5477,"[6800,7124,7128,7129]","[6800, 7124, 7128, 7129]",None,[]
83,7196,closed_quote,closed_quote,7155,7155,5477,5477,"[7195,7333,7335]","[7195, 7333, 7335]",None,[]
84,7296,closed_quote,closed_quote,7208,7208,1557,1557,"[7295,7461,7462]","[7295, 7461, 7462]",None,[]
85,7337,closed_quote,closed_quote,7198,7198,5477,5477,"[7336,7334]","[7336, 7334]",None,[]
86,7384,active,active,7346,7346,1198,1198,"[7383,7465,7798]","[7383, 7465, 7798]",7798,7798
87,7464,closed_quote,closed_quote,6723,6723,1272,1272,7463,7463,None,[]
88,7468,active,active,7416,7416,1198,1198,"[7466,7743]","[7466, 7743]",7743,7743
89,7469,active,active,6860,6860,1557,1557,"[7483,7499]","[7483, 7499]","[7499,7483]","[7499, 7483]"
90,7591,active,active,7557,7557,2047,2047,"[7590,7742]","[7590, 7742]",7590,7590
91,7596,closed_quote,closed_quote,7498,7498,5477,5477,"[7595,7618,7796]","[7595, 7618, 7796]",None,[]
92,7741,closed_quote,closed_quote,7539,7539,7538,7538,"[7740,7797]","[7740, 7797]",None,[]
93,7837,closed_quote,closed_quote,7682,7682,1557,1557,"[7836,8214,8231,8241]","[7836, 8214, 8231, 8241]",None,[]
94,7839,closed_quote,closed_quote,7619,7619,1557,1557,"[7838,8178]","[7838, 8178]",None,[]
95,8013,closed_quote,closed_quote,7840,7840,1198,1198,,[],None,[]
96,8015,closed_quote,closed_quote,7850,7850,1198,1198,"[8014,8038]","[8014, 8038]",None,[]
97,8029,closed_quote,closed_quote,7997,7997,7989,7989,[8028],[8028],None,[]
98,8035,closed_quote,closed_quote,7887,7887,1557,1557,"[8034,8176,8213]","[8034, 8176, 8213]",None,[]
99,8037,closed_quote,closed_quote,7799,7799,1557,1557,"[8036,8179]","[8036, 8179]",None,[]
100,8175,closed_quote,closed_quote,8042,8042,1198,1198,"[8174,8177,8215,8218,8230]","[8174, 8177, 8215, 8218, 8230]",None,[]
101,8194,closed_quote,closed_quote,8065,8065,2047,2047,[8212],[8212],None,[]
102,8217,closed_quote,closed_quote,8189,8189,1272,1272,"[8216,8229,8236]","[8216, 8229, 8236]",None,[]
103,8271,closed_quote,closed_quote,8246,8246,1198,1198,8270,8270,None,[]
104,8346,active,active,8287,8287,1198,1198,"[8345,8485,8722,8772]","[8345, 8485, 8722, 8772]",8722,8722
105,8438,closed_quote,closed_quote,8353,8353,1198,1198,8437,8437,None,[]
106,8492,closed_quote,closed_quote,8443,8443,1349,1349,"[8491,8770,8771,8883]","[8491, 8770, 8771, 8883]",None,[]
107,8627,active,active,8497,8497,1198,1198,"[8626,8792,8872,8904]","[8626, 8792, 8872, 8904]",[8904],[8904]
108,8724,closed_quote,closed_quote,8588,8588,8448,8448,"[8894,8922,9253,9471]","[8894, 8922, 9253, 9471]",None,[]
109,8858,closed_quote,closed_quote,8773,8773,8623,8623,"[8857,8895]","[8857, 8895]",None,[]
110,8860,closed_quote,closed_quote,8711,8711,8448,8448,"[8859,8923,9064]","[8859, 8923, 9064]",None,[]
111,9066,closed_quote,closed_quote,8984,8984,5477,5477,"[9065,9083]","[9065, 9083]",None,[]
112,9234,active,active,9162,9162,8623,8623,"[9233,9251,9252,9254,9269]","[9233, 9251, 9252, 9254, 9269]",9269,9269
113,9236,closed_quote,closed_quote,9176,9176,9174,9174,"[9235,9239]","[9235, 9239]",None,[]
114,9238,active,active,9094,9094,8448,8448,9237,9237,9237,9237
115,9468,active,active,8648,8648,2453,2453,"[9210,9525]","[9210, 9525]",9210,9210
116,9527,closed_quote,closed_quote,9493,9493,1198,1198,"[9526,9576]","[9526, 9576]",None,[]
117,9574,active,active,9533,9533,1272,1272,[9578],[9578],9578,9578
118,9906,closed_quote,closed_quote,9588,9588,5477,5477,"[9905,10560,10791]","[9905, 10560, 10791]",None,[]
119,10339,closed_quote,closed_quote,10160,10160,1198,1198,"[10338,10962]","[10338, 10962]",None,[]
120,10529,closed_quote,closed_quote,10241,10241,5477,5477,"[10528,10797,10800]","[10528, 10797, 10800]",None,[]
121,10562,closed_quote,closed_quote,10317,10317,5477,5477,"[10561,10799]","[10561, 10799]",None,[]
122,10634,closed_quote,closed_quote,10574,10574,2047,2047,"[10633,10792,11090]","[10633, 10792, 11090]",None,[]
123,10738,closed_quote,closed_quote,10139,10139,5477,5477,"[10737,10801]","[10737, 10801]",None,[]
124,10929,active,active,10901,10901,8448,8448,"[10928,10932]","[10928, 10932]",10932,10932
125,11037,closed_quote,closed_quote,10934,10934,4695,4695,"[11036,11038,11113]","[11036, 11038, 11113]",None,[]
126,11061,closed_quote,closed_quote,10969,10969,5323,5323,"[11060,11095,11190]","[11060, 11095, 11190]",None,[]
127,11089,active,active,11062,11062,8448,8448,"[11088,11189]","[11088, 11189]",11189,11189
128,11111,active,active,11097,11097,8448,8448,11110,11110,11110,11110
129,11126,closed_quote,closed_quote,9371,9371,9271,9271,11125,11125,None,[]
130,11142,closed_quote,closed_quote,9272,9272,9271,9271,11141,11141,None,[]
131,11187,closed_quote,closed_quote,11143,11143,6467,6467,"[11186,11191]","[11186, 11191]",None,[]
132,11198,closed_quote,closed_quote,9911,9911,2453,2453,11197,11197,None,[]
133,11383,closed_quote,closed_quote,11298,11298,11297,11297,"[11382,11583,11599]","[11382, 11583, 11599]",None,[]
134,11460,closed_quote,closed_quote,11365,11365,8448,8448,"[11459,11520,11603]","[11459, 11520, 11603]",None,[]
135,11522,closed_quote,closed_quote,11477,11477,8623,8623,11521,11521,None,[]
136,11585,closed_quote,closed_quote,11545,11545,4695,4695,"[11584,11587,11598,11859,11864]","[11584, 11587, 11598, 11859, 11864]",None,[]
137,11601,closed_quote,closed_quote,11418,11418,8623,8623,11600,11600,None,[]
138,11605,closed_quote,closed_quote,11390,11390,8448,8448,"[11604,11607]","[11604, 11607]",None,[]
139,11609,active,active,11274,11274,1198,1198,11608,11608,11608,11608
140,11791,closed_quote,closed_quote,11684,11684,1198,1198,"[11790,11865]","[11790, 11865]",None,[]
141,11861,closed_quote,closed_quote,11757,11757,8884,8884,"[11860,11866]","[11860, 11866]",None,[]
142,11980,closed_quote,closed_quote,11899,11899,1198,1198,"[11979,11985]","[11979, 11985]",None,[]
143,11987,closed_quote,closed_quote,11796,11796,1198,1198,11986,11986,None,[]
144,12127,closed_quote,closed_quote,12030,12030,8448,8448,12126,12126,None,[]
145,12131,closed_quote,closed_quote,12068,12068,12067,12067,"[12130,12132,12389,12447,12449,12453]","[12130, 12132, 12389, 12447, 12449, 12453]",None,[]
146,12264,closed_quote,closed_quote,12161,12161,9174,9174,"[12263,12445,12448,12452]","[12263, 12445, 12448, 12452]",None,[]
147,12328,closed_quote,closed_quote,12259,12259,12258,12258,"[12327,12444,12450,12471,12476,12527,12620]","[12327, 12444, 12450, 12471, 12476, 12527, 12620]",None,[]
148,12386,closed_quote,closed_quote,12254,12254,12248,12248,"[12385,12446,12454,12525,12619]","[12385, 12446, 12454, 12525, 12619]",None,[]
149,12388,closed_quote,closed_quote,12136,12136,8448,8448,"[12387,12451,12457,12459]","[12387, 12451, 12457, 12459]",None,[]
150,12443,active,active,12331,12331,1198,1198,"[12442,12472]","[12442, 12472]",12442,12442
151,12474,closed_quote,closed_quote,12394,12394,9271,9271,12473,12473,None,[]
152,12622,closed_quote,closed_quote,12423,12423,12079,12079,12621,12621,None,[]
153,12698,closed_quote,closed_quote,12485,12485,12484,12484,12697,12697,None,[]
154,12700,closed_quote,closed_quote,12554,12554,12538,12538,"[12699,12701,13262,13422]","[12699, 12701, 13262, 13422]",None,[]
155,12703,closed_quote,closed_quote,12477,12477,12258,12258,12702,12702,None,[]
156,13264,active,active,12799,12799,12796,12796,"[13263,13449,13912]","[13263, 13449, 13912]",13449,13449
157,13266,closed_quote,closed_quote,12804,12804,1557,1557,"[13265,13313]","[13265, 13313]",None,[]
158,13312,closed_quote,closed_quote,12706,12706,3917,3917,13311,13311,None,[]
159,13402,closed_quote,closed_quote,13236,13236,12895,12895,13401,13401,None,[]
160,13451,closed_quote,closed_quote,13294,13294,1198,1198,"[13450,13911]","[13450, 13911]",None,[]
161,13533,active,active,13413,13413,8448,8448,[13532],[13532],[13532],[13532]
162,13610,active,active,13314,13314,1198,1198,13609,13609,13609,13609
163,13696,closed_quote,closed_quote,13287,13287,12858,12858,13695,13695,None,[]
164,13765,active,active,13321,13321,1198,1198,"[13764,14954]","[13764, 14954]",14954,14954
165,14036,pending,pending,13897,13897,1272,1272,"[14035,14191,14205]","[14035, 14191, 14205]",None,[]
166,14076,closed_quote,closed_quote,13698,13698,5477,5477,"[14075,14179,14201]","[14075, 14179, 14201]",None,[]
167,14195,active,active,13767,13767,1272,1272,"[14202,14206]","[14202, 14206]",14206,14206
168,14197,closed_quote,closed_quote,13884,13884,1272,1272,"[14196,14204]","[14196, 14204]",None,[]
169,14208,closed_quote,closed_quote,14077,14077,12796,12796,14207,14207,None,[]
170,14458,active,active,14427,14427,1272,1272,"[14457,14459,14460]","[14457, 14459, 14460]",14459,14459
171,14470,active,active,14270,14270,1198,1198,14469,14469,14469,14469
172,14528,active,active,14474,14474,1198,1198,14527,14527,14527,14527
173,14536,closed_quote,closed_quote,14308,14308,1198,1198,14535,14535,None,[]
174,14538,closed_quote,closed_quote,14321,14321,1198,1198,14537,14537,None,[]
175,14622,pending,pending,14569,14569,1198,1198,14620,14620,None,[]
176,14819,active,active,14739,14739,1272,1272,"[14818,14876,14877,14958]","[14818, 14876, 14877, 14958]",14958,14958
177,14875,active,active,14755,14755,1272,1272,"[14874,14955,15001]","[14874, 14955, 15001]","[14874,15001]","[14874, 15001]"
178,14895,active,active,14879,14879,1198,1198,14894,14894,14894,14894
179,14939,active,active,14902,14902,1198,1198,14938,14938,14938,14938
180,14943,active,active,14652,14652,1198,1198,"[14942,14959]","[14942, 14959]",14959,14959
181,14945,closed_quote,closed_quote,14690,14690,14689,14689,14944,14944,None,[]
182,14962,closed_quote,closed_quote,14889,14889,12796,12796,14961,14961,None,[]
183,15168,active,active,15092,15092,12796,12796,15167,15167,15167,15167
184,15274,active,active,15215,15215,15208,15208,"[15273,15349,15362,15492,15495]","[15273, 15349, 15362, 15492, 15495]",15349,15349
185,15502,closed_quote,closed_quote,15446,15446,8448,8448,15501,15501,None,[]
186,15526,active,active,15367,15367,8448,8448,"[15525,15736]","[15525, 15736]",15736,15736
187,15528,closed_quote,closed_quote,15275,15275,8448,8448,"[15527,15585,15587]","[15527, 15585, 15587]",None,[]
188,15600,closed_quote,closed_quote,15533,15533,15532,15532,"[15599,15621,15825]","[15599, 15621, 15825]",None,[]
189,15733,active,active,15626,15626,15622,15622,"[15732,15824]","[15732, 15824]",15732,15732
190,15735,closed_quote,closed_quote,15530,15530,15529,15529,15734,15734,None,[]
191,15830,active,active,15749,15749,8448,8448,15829,15829,15829,15829
192,15857,active,active,15704,15704,14689,14689,"[15856,16718]","[15856, 16718]",16718,16718
193,16197,on_quote,on_quote,15872,15872,15869,15869,16196,16196,None,[]
194,16199,active,active,16051,16051,1198,1198,"[16198,16390]","[16198, 16390]",16198,16198
195,16201,active,active,15916,15916,1198,1198,"[16200,16387,16391]","[16200, 16387, 16391]",16200,16200
196,16389,archived,archived,15177,15177,13429,13429,[16388],[16388],None,[]
197,16393,closed_quote,closed_quote,16204,16204,2047,2047,"[16392,16396]","[16392, 16396]",None,[]
198,16395,closed_quote,closed_quote,16289,16289,16267,16267,"[16394,16747,16750,16808]","[16394, 16747, 16750, 16808]",None,[]
199,16849,active,active,16751,16751,1198,1198,"[16848,16864,16865]","[16848, 16864, 16865]",16848,16848
200,16878,active,active,16560,16560,8448,8448,"[16877,16880,16954]","[16877, 16880, 16954]","[16877,16954,16880]","[16877, 16954, 16880]"
201,16882,closed_quote,closed_quote,16319,16319,16226,16226,16881,16881,None,[]
202,17016,closed_quote,closed_quote,16917,16917,1198,1198,"[17015,17065]","[17015, 17065]",None,[]
203,17341,closed_quote,closed_quote,17098,17098,17096,17096,"[17340,17446]","[17340, 17446]",None,[]
204,17353,closed_quote,closed_quote,17134,17134,17133,17133,"[17352,17780]","[17352, 17780]",None,[]
205,17395,active,active,17055,17055,12073,12073,"[17394,17785]","[17394, 17785]",17394,17394
206,17445,active,active,17238,17238,1272,1272,"[17444,17586,17674]","[17444, 17586, 17674]",17674,17674