**Util functions**

searchPostId(post_id, all_tables_df): all tables and rows attributed to post_id
searchPostId(postId): all tables and rows attributed to post_id, accessible after all_tables_df is created
***

# Initialization and DB connection

In [1]:
import os
os.chdir('/Users/ofriedler/Dropbox/Work/Consultation/Manufuture/dev/manufuture')

!pwd

/Users/ofriedler/Dropbox/Work/Consultation/Manufuture/dev/manufuture

In [2]:
# PROJECT_PATH='/Users/ofriedler/Dropbox/Work/Consultation/Manufuture/dev/manu_python'
import pandas as pd
import datetime
import math
from datetime import datetime
import matplotlib.pyplot as plt
import json
from db_ops import db_module
from utils.util_functions import searchPostId, searchString, parse_list_of_integers
from utils import util_functions 
import manu_main
from displays import all_displays


from sqlalchemy import create_engine

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 300)
DB_CONNECTION_STRING = "mysql+pymysql://root:mysql123@localhost/manufuture"
EMAIL_LOGS_DIR = '/Users/ofriedler/Dropbox/Work/Consultation/Manufuture/dev/logs-2021-05-01_2021-12-30.csv'

# From database to all_tables_df

all_tables_raw = db_module.build_all_tables_df()
all_tables_raw['wp_manufacturers']
all_tables_raw['wp_manufacturers'][['post_id', 'street', 'cnc_milling']]

In [3]:
all_tables_df = manu_main.get_all_tables_df()
wp_quotes = all_tables_df['wp_quotes']
wp_manufacturers = all_tables_df['wp_manufacturers']
wp_projects = all_tables_df['wp_projects']
wp_parts = all_tables_df['wp_parts']
wp_postmeta = all_tables_df['wp_postmeta']
wp_posts = all_tables_df['wp_posts']
bids = all_tables_df['bids']
wp_users = all_tables_df['wp_users']
wp_usermeta = all_tables_df['wp_usermeta']

def searchPostId(post_id):
    util_functions.searchPostId(post_id, all_tables_df)

def searchString(str_val):
    util_functions.searchString(str_val, all_tables_df)

In [4]:
bids = [1256, 1273, 1275]
bid_to_manufacturer_df = all_tables_df['wp_type_bid'][['post_id', 'manufacturer']]
list(bid_to_manufacturer_df[bid_to_manufacturer_df['post_id'].isin(bids)]['manufacturer'])

['770', '740', '774']

# One to one comparison

## quotes

In [5]:
all_tables_df['wp_quotes'].columns

Index(['id', 'post_id', 'status', 'project', 'agency', 'bids', 'chosen_bids',
       'doc_sl', 'doc_sf', 'doc_ml', 'doc_mf', 'doc_int', 'chosen_quote',
       'doc_xls'],
      dtype='object')

In [6]:
def one_to_one_compare(table_a, table_b, compare_columns):
    for column in compare_columns + ['post_id']:
        if not column in table_a.columns:
            print("column " + column + " is not in table_a but expected to be compared")
            return
        if not column in table_a.columns:
            print("column " + column + " is not in table_b but expected to be compared")
            return
    merged_df = table_a.merge(table_b, how='outer', on=['post_id'])
    for column in compare_columns:
        merged_df[column+'_is_eq'] = str(merged_df[column +'_x']) == str(merged_df[column +'_y'])
    return merged_df
            
merged_df = one_to_one_compare(all_tables_df['wp_quotes'], all_tables_df['wp_type_quote'], ['status', 'project', 'agency', 'bids', 'chosen_bids','doc_sl', 'doc_sf', 'doc_ml', 'doc_mf', 'doc_int', 'chosen_quote', 'doc_xls'] )

In [7]:
merged_df[['project_x', 'project_y', 'project_is_eq']]
#[['post_id', 'status_x', 'status_y', 'project_x', 'project_y', 'agency_x', 'agency_y', 'bids_x', 'bids_y', 'chosen_bids_x', 'chosen_bids_y']]

    project_x  project_y  project_is_eq
0         530        NaN          False
1         536        NaN          False
2         542        NaN          False
3         592        NaN          False
4         603        NaN          False
..        ...        ...            ...
932     80051    80051.0          False
933     80155    80155.0          False
934     80149    80149.0          False
935     80788    80788.0          False
936     80611    80611.0          False

[937 rows x 3 columns]

In [8]:
all_tables_df['wp_type_quote']

,post_id,agency,bids,chosen_bids,chosen_quote,doc_int,doc_mf,doc_ml,doc_sf,doc_sl,doc_xls,docs_int,docs_int_0_country,docs_int_0_file,docs_int_1_country,docs_int_1_file,project,status,post_author,post_date,post_date_gmt,post_content,post_title,post_excerpt,post_status,comment_status,ping_status,post_password,post_name,to_ping,pinged,post_modified,post_modified_gmt,post_content_filtered,post_parent,guid,menu_order,post_mime_type,comment_count,competing_manufacturers,winning_manufacturers,num_candidates,is_bid_chosen
21,1257,1198,"[1256, 1273, 1275]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1207,closed_quote,26,2021-05-23 12:51:10,2021-05-23 09:51:10,,Quote for project -AGT – tiger,,publish,closed,closed,,quote-for-project-agt-tiger,,,2021-06-24 10:28:16,2021-06-24 07:28:16,,0,https://manu-future.com/quote/quote-for-projec...,0,,0,"[770, 740, 774]",[],3,False
22,1318,1198,"[1317, 1319, 1320, 1329, 1330, 1333]",[1330],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1288,active,26,2021-05-26 11:54:42,2021-05-26 08:54:42,,Quote for project -AGT &#8211; LD TX HLT,,publish,closed,closed,,quote-for-project-agt-ld-tx-hlt,,,2021-05-26 11:54:42,2021-05-26 08:54:42,,0,https://manu-future.com/quote/quote-for-projec...,0,,0,"[770, 742, 1276, 756, 1266, 740]",[1266],6,True
23,1346,1334,"[1345, 1351]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1335,closed_quote,22,2021-05-30 13:46:46,2021-05-30 10:46:46,,Quote for project -Smart Shooter &#8211; Axe,,publish,closed,closed,,quote-for-project-smart-shooter-axe,,,2021-05-30 13:46:46,2021-05-30 10:46:46,,0,https://manu-future.com/quote/quote-for-projec...,0,,0,"[742, 766]",[],2,False
24,1348,1334,"[1347, 1352]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1339,closed_quote,41,2021-05-30 13:49:11,2021-05-30 10:49:11,,Quote for project -Smart Shooter &#8211; axe,,publish,closed,closed,,quote-for-project-smart-shooter-axe-2,,,2021-05-30 13:49:11,2021-05-30 10:49:11,,0,https://manu-future.com/quote/quote-for-projec...,0,,0,"[1276, 766]",[],2,False
25,1416,1198,"[1415, 1417, 1418, 1421, 1427]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1386,closed_quote,24,2021-06-02 08:38:20,2021-06-02 05:38:20,,Quote for project -AGT &#8211; SCP CS,,publish,closed,closed,,quote-for-project-agt-scp-cs,,,2021-06-02 08:38:20,2021-06-02 05:38:20,,0,https://manu-future.com/quote/quote-for-projec...,0,,0,"[766, 756, 770, 1266, 1276]",[],5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,80142,80050,"[80141, 80306, 80316]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80051,on_quote,391,2023-04-19 11:58:28,2023-04-19 08:58:28,,Quote for project -Cleaveland Price Inc. &#821...,,publish,closed,closed,,quote-for-project-cleaveland-price-inc-arc-hor...,,,2023-04-19 11:58:28,2023-04-19 08:58:28,,0,https://manufuture.com/quote/quote-for-project...,0,,0,"[36004, 54499, 5314]",[],3,False
933,80312,1272,"[80311, 80322, 80484]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80155,on_quote,391,2023-04-20 12:41:01,2023-04-20 09:41:01,,Quote for project -ASSATEC ROBOTICS &#8211; EL...,,publish,closed,closed,,quote-for-project-assatec-robotics-elb_cyc,,,2023-04-20 12:41:01,2023-04-20 09:41:01,,0,https://manufuture.com/quote/quote-for-project...,0,,0,"[36004, 65418, 5314]",[],3,False
934,80493,80148,"[80492, 80494, 80496, 80535]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80149,on_quote,391,2023-04-21 09:31:58,2023-04-21 06:31:58,,Quote for project -Stecos Oy &#8211; Osatuotanto,,publish,closed,closed,,quote-for-project-stecos-oy-osatuotanto,,,2023-04-21 09:31:58,2023-04-21 06:31:58,,0,https://manufuture.com/quote/quote-for-project...,0,,0,"[36004, 54499, 63577, 5314]",[],4,False
935,80839,67443,[80838],[80838],international,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80788,waiting_approval,520,2023-04-23 16:03:12,2023-04-23 13:03:12,,Quote for project -Gevasol &#8211; PO23002390,,publish,closed,closed,,quote-for-project-gevasol-po23002390,,,2023-04-23 16:03:12,2023-04-23 13:03:12,,0,https://manufuture.com/quote/quote-for-project...,0,,0,[15228],[15228],1,True
936,80849,67443,[80848],[80848],international,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80611,waiting_approval,11,2023-04-23 17:42:03,2023-04-23 14:42:03,,Quote for project -Gevasol &#8211; PO23002666-1,,publish,closed,closed,,quote-for-project-gevasol-po23002666-1,,,2023-04-23 17:42:03,2023-04-23 14:42:03,,0,https://manufuture.com/quote/quote-for-project...,0,,0,[15228],[15228],1,True

## bids - TODO: join bids date from wp_posts

In [9]:
bids_reset = all_tables_df['bids'].reset_index().rename(columns={'bid_post_id':'post_id'})
bids_reset

,post_id,manufacturer_id,post_date,post_type,post_date_year,post_date_month,post_date_day,post_date_year_month,post_date_Ym,is_bid_chosen
0,49153,15212,2022-08-10 17:26:31,bid,2022,8,10,2022-8,2022-08,0
1,16387,788,2021-11-14 21:46:25,bid,2021,11,14,2021-11,2021-11,0
2,16388,15203,2021-11-15 08:59:43,bid,2021,11,15,2021-11,2021-11,0
3,49155,29877,2022-08-11 01:43:55,bid,2022,8,11,2022-8,2022-08,0
4,16390,4753,2021-11-15 10:19:47,bid,2021,11,15,2021-11,2021-11,0
...,...,...,...,...,...,...,...,...,...,...
1954,8174,788,2021-08-25 06:52:50,bid,2021,8,25,2021-8,2021-08,0
1955,8176,788,2021-08-25 07:03:01,bid,2021,8,25,2021-8,2021-08,0
1956,8177,768,2021-08-25 07:31:17,bid,2021,8,25,2021-8,2021-08,0
1957,8178,2184,2021-08-25 09:34:25,bid,2021,8,25,2021-8,2021-08,0
1958,8179,2184,2021-08-25 09:48:14,bid,2021,8,25,2021-8,2021-08,0

In [10]:
all_tables_df['wp_type_bid'][16390 == all_tables_df['wp_type_bid']['post_id']][['post_id', 'manufacturer', 'post_date']]

     post_id manufacturer           post_date
471    16390         4753 2021-11-15 10:19:47

In [11]:
all_tables_df['bids'][['manufacturer_id', 'post_date']].head(300)

            manufacturer_id           post_date
bid_post_id
49153                 15212 2022-08-10 17:26:31
16387                   788 2021-11-14 21:46:25
16388                 15203 2021-11-15 08:59:43
49155                 29877 2022-08-11 01:43:55
16390                  4753 2021-11-15 10:19:47
16391                  4753 2021-11-15 10:38:32
16392                  4753 2021-11-15 10:45:59
49156                 15212 2022-08-11 02:14:35
16394                  4753 2021-11-15 10:58:23
49162                  5314 2022-08-11 06:56:09
16396                  2184 2021-11-15 11:06:31
49165                 44404 2022-08-11 08:54:21
49164                 44404 2022-08-11 08:52:31
49166                 44404 2022-08-11 09:01:18
49168                  5314 2022-08-11 09:34:53
49169                 36004 2022-08-11 10:13:11
8212                   2184 2021-08-25 17:39:15
8213                   2184 2021-08-25 17:44:41
8215                    770 2021-08-25 21:57:39
8216                    788 2021-08-26 07:06:08
24601                 15212 2022-01-18 16:30:50
8218                   2184 2021-08-26 08:17:58
24602                 15212 2022-01-18 16:41:16
49178                  5314 2022-08-11 13:48:12
8229                   7490 2021-08-26 13:35:59
8230                   7490 2021-08-26 13:37:27
8231                   7490 2021-08-26 13:51:38
41000                 15212 2022-05-30 13:02:19
49195                  5314 2022-08-11 14:28:28
8236                   8183 2021-08-26 14:43:50
8241                   1670 2021-08-26 18:30:52
49205                  1714 2022-08-12 09:52:13
65595                  5314 2023-01-10 13:25:38
32828                  2184 2022-03-16 11:50:02
49218                 44404 2022-08-13 20:12:16
49219                 44404 2022-08-13 21:40:48
65604                 63577 2023-01-10 16:12:34
8270                    788 2021-08-29 15:42:48
57432                  5314 2022-10-22 10:55:44
65626                  5314 2023-01-11 03:31:02
65631                 36004 2023-01-11 10:20:09
41062                 15212 2022-05-30 15:27:51
24680                   740 2022-01-19 13:15:43
24710                   788 2022-01-19 16:24:03
49287                 29877 2022-08-15 01:03:44
24712                   788 2022-01-19 16:26:52
32910                   788 2022-03-17 12:31:38
32913                   788 2022-03-17 13:00:37
8345                    770 2021-08-30 14:30:22
65694                 36004 2023-01-11 12:21:45
65698                  2184 2023-01-11 14:39:40
41135                   770 2022-05-30 16:16:23
49328                 36004 2022-08-15 08:59:02
41137                 15212 2022-05-30 16:17:38
57525                 23710 2022-10-23 19:41:36
57528                  5314 2022-10-24 06:20:57
57531                 15228 2022-10-24 08:48:47
57532                  1714 2022-10-24 09:37:55
57533                 36004 2022-10-24 09:44:14
57535                 36004 2022-10-24 10:10:43
57537                 29877 2022-10-24 11:24:12
57539                  4753 2022-10-24 11:36:46
57542                 36004 2022-10-24 12:53:42
73938                 65759 2023-03-08 05:04:34
41171                 15212 2022-05-30 16:53:49
65747                 36004 2023-01-12 09:11:11
49367                 15212 2022-08-15 12:43:14
49368                 36004 2022-08-15 12:58:35
73944                 36004 2023-03-08 12:07:47
49372                 44404 2022-08-15 13:27:29
57569                  5314 2022-10-24 14:42:31
57571                  5314 2022-10-24 14:47:32
65765                 63577 2023-01-12 12:25:52
65771                 15228 2023-01-12 16:58:04
8437                    770 2021-08-31 06:22:41
41218                 15212 2022-05-30 17:00:36
24842                 15228 2022-01-20 15:27:36
41227                  5314 2022-05-31 05:54:02
41226                  5314 2022-05-31 05:41:18
57618                 15228 2022-10-24 16:28:29
41237                  5314 2022-05-31 16:20:25
41245                   788 2022-05-31 17:59:41
41247                   788 2022-05-31 18:01:11
8485                   7490 2021-08-31 10:09:52
41253                  5314 2022-06-01 04:58:28
41256                  1714 2022-06-01 09:41:57
41257                 15228 2022-06-01 11:58:29
8491                   4753 2021-08-31 12:09:03
49451                  5314 2022-08-15 15:23:14
57663                  5314 2022-10-25 05:27:32
33095                 23710 2022-03-18 13:04:51
33098                 25719 2022-03-19 01:31:53
74061                 15228 2023-03-09 12:24:17
16718                 15228 2021-11-15 16:09:57
65874                  5314 2023-01-14 05:32:03
65875                 65759 2023-01-14 07:30:01
65876                 65759 2023-01-14 07:31:07
49508                 15212 2022-08-15 17:14:25
49510                 25719 2022-08-16 01:49:15
49512                 36004 2022-08-16 05:10:32
24937                 19928 2022-01-20 19:05:21
49514                  5314 2022-08-16 05:12:34
16747                  2184 2021-11-16 09:29:52
49515                  5314 2022-08-16 05:13:39
49516                  5314 2022-08-16 05:19:35
16750                  5011 2021-11-16 11:03:47
24948                   788 2022-01-21 08:38:05
24951                   788 2022-01-21 08:52:33
24953                   788 2022-01-21 08:53:58
24954                 15228 2022-01-21 17:44:08
57726                 15228 2022-10-25 11:02:55
24961                 23710 2022-01-22 20:14:22
33154                   770 2022-03-20 10:14:09
33156                  2184 2022-03-20 10:26:53
33157                 15212 2022-03-20 10:30:08
57736                 36004 2022-10-25 13:31:32
57738                 36004 2022-10-25 13:34:12
41356                  5314 2022-06-02 17:44:16
41368                 25719 2022-06-03 00:33:02
41369                 15228 2022-06-04 09:55:52
57761                  5314 2022-10-26 08:45:38
16808                  5314 2021-11-16 14:00:05
8626                    770 2021-08-31 20:34:43
33204                 19928 2022-03-20 14:54:49
33206                  5314 2022-03-20 15:29:20
33207                  5314 2022-03-20 15:30:29
65982                 65759 2023-01-16 07:41:34
16848                  5314 2021-11-17 06:46:59
57813                 36004 2022-10-26 12:44:38
49629                  5314 2022-08-16 16:21:30
16864                  5011 2021-11-17 10:16:27
16865                  4753 2021-11-17 10:40:17
49632                 36004 2022-08-17 04:56:17
16877                 15228 2021-11-17 13:30:53
16880                 15611 2021-11-17 14:18:45
16881                  4753 2021-11-17 16:21:58
33272                 20636 2022-03-20 17:06:03
49656                  4753 2022-08-17 10:29:49
49658                  4753 2022-08-17 10:44:31
33276                 15212 2022-03-21 08:47:39
33279                  5314 2022-03-21 09:18:18
33280                  5314 2022-03-21 09:19:54
57863                 19924 2022-10-26 13:11:45
25099                  5011 2022-01-23 14:05:37
8722                   4753 2021-09-01 09:54:27
74269                 36004 2023-03-10 03:37:58
74275                 36004 2023-03-10 09:39:21
33318                 19928 2022-03-21 10:30:37
33325                  5314 2022-03-21 11:54:43
33334                   788 2022-03-21 17:14:26
49719                 15212 2022-08-17 17:15:20
16954                   788 2021-11-18 15:32:19
8770                   2184 2021-09-01 11:07:40
8771                   5011 2021-09-01 11:19:07
8772                   5011 2021-09-01 11:33:19
74321                  5314 2023-03-11 11:48:37
74322                 36004 2023-03-11 13:03:56
8792                   5011 2021-09-01 11:44:47
49756                 36004 2022-08-18 06:40:29
49758                 36004 2022-08-18 06:53:29
57961                 36004 2022-10-27 04:30:48
33394                   788 2022-03-22 18:09:32
17015                 15228 2021-11-20 16:37:52
8857                   5011 2021-09-01 12:09:07
8859                   5011 2021-09-01 12:13:31
58019                  5011 2022-10-27 11:56:14
58022                 36004 2022-10-27 13:12:57
8872                   2184 2021-09-01 13:14:35
17065                 15611 2021-11-21 14:44:12
58024                 36004 2022-10-27 13:34:04
49840                  5314 2022-08-18 11:05:35
8883                   5314 2021-09-01 15:36:23
8894                    788 2021-09-02 09:04:19
8895                   4753 2021-09-02 09:22:48
8904                   4753 2021-09-02 10:50:42
74445                 54499 2023-03-13 04:23:24
74447                 54499 2023-03-13 04:58:23
41681                 15212 2022-06-07 09:51:49
74454                 36004 2023-03-13 08:20:29
74456                   790 2023-03-13 09:07:25
8922                   2184 2021-09-03 10:27:32
8923                   5314 2021-09-03 10:38:24
25312                  5011 2022-01-23 15:42:28
25314                  5011 2022-01-23 15:43:15
25316                  5011 2022-01-23 15:44:02
25318                  5011 2022-01-23 15:47:21
25320                 19924 2022-01-23 16:06:51
25321                 12002 2022-01-23 16:52:34
25325                 15212 2022-01-24 08:01:05
25326                 15212 2022-01-24 08:01:50
25327                 15212 2022-01-24 08:02:16
58094                  5314 2022-10-28 09:39:03
25329                   770 2022-01-24 09:12:57
25330                 15212 2022-01-24 09:17:43
58097                  4753 2022-10-28 11:14:12
25332                 15212 2022-01-24 10:17:48
58099                 36004 2022-10-28 11:22:39
58111                  5314 2022-10-29 04:26:14
74532                 36004 2023-03-13 10:33:24
74534                 54499 2023-03-13 10:42:20
25389                 15228 2022-01-24 16:27:10
25390                  5011 2022-01-24 17:06:07
33603                 15212 2022-03-23 18:38:01
74573                 15228 2023-03-13 14:02:01
9064                    770 2021-09-05 16:51:27
9065                    770 2021-09-05 16:55:07
33643                  5314 2022-03-24 15:14:04
41837                 15212 2022-06-07 13:11:34
33653                  2184 2022-03-24 15:52:58
9083                   4753 2021-09-06 12:02:04
25484                 15212 2022-01-25 09:35:02
25486                  5011 2022-01-25 09:45:04
25487                  5011 2022-01-25 09:47:49
66466                 65759 2023-01-17 11:33:21
66473                 65418 2023-01-17 15:19:21
25518                 19924 2022-01-25 11:17:07
25521                  4753 2022-01-25 12:18:50
25522                  4753 2022-01-25 12:21:33
25524                 15212 2022-01-25 12:39:03
25530                  5011 2022-01-25 13:57:33
33722                   770 2022-03-27 11:30:14
17340                  4753 2021-11-22 10:45:03
74684                  1714 2023-03-13 14:28:24
33726                  1266 2022-03-27 13:35:16
74685                 63577 2023-03-13 14:31:45
17352                  4753 2021-11-22 10:48:51
41946                  4753 2022-06-08 10:34:54
41947                  5314 2022-06-08 10:58:35
66524                 36004 2023-01-18 06:06:07
66528                 63577 2023-01-18 10:43:02
33761                 25719 2022-03-28 20:23:51
25578                  2184 2022-01-25 15:02:54
17394                  4753 2021-11-22 10:52:56
9210                   2184 2021-09-09 11:00:26
33793                  2184 2022-03-29 15:16:40
58374                 36004 2022-10-31 08:43:20
58378                 36004 2022-10-31 09:42:01
9233                    770 2021-09-09 12:56:06
9235                    774 2021-09-09 13:10:06
9237                    774 2021-09-09 14:07:42
9239                    788 2021-09-09 14:19:23
25630                 15212 2022-01-25 17:43:14
9251                   5011 2021-09-09 18:24:41
9252                   4753 2021-09-10 09:39:03
9254                   2184 2021-09-11 15:20:46
17446                  5011 2021-11-22 14:46:21
17444                  5011 2021-11-22 14:42:13
9269                   7490 2021-09-12 12:31:21
25659                  5011 2022-01-26 15:22:48
58439                 25645 2022-10-31 16:46:45
58442                 15228 2022-10-31 17:12:33
58458                  5314 2022-11-01 08:26:32
42085                 15212 2022-06-08 14:00:57
66665                 54025 2023-01-18 12:47:15
42134                   770 2022-06-08 15:37:12
17583                  2184 2021-11-23 09:43:00
17586                  4753 2021-11-23 11:34:16
17587                  5011 2021-11-23 11:56:38
33996                 15212 2022-03-29 18:44:43
33998                 15212 2022-03-29 18:56:52
42201                 15212 2022-06-08 17:18:12
42203                 36004 2022-06-09 05:01:54
42211                  2184 2022-06-09 09:16:33
42212                 36004 2022-06-09 09:35:33
1256                    770 2021-05-23 12:51:10
25839                  4753 2022-01-27 13:31:36
17654                  4753 2021-11-23 14:23:18
66807                 15228 2023-01-18 16:46:52
1273                    740 2021-05-25 10:11:30
1275                    774 2021-05-25 10:23:55
9471                   7490 2021-09-13 11:37:05
17673                  2184 2021-11-23 17:09:44
17674                 15151 2021-11-23 17:51:27
34057                 15212 2022-03-30 16:03:01
34060                  5314 2022-03-30 17:02:03
17679                  4753 2021-11-24 09:19:27
34065                   788 2022-03-30 18:13:14
17682                  5314 2021-11-24 11:13:35
17683                  5314 2021-11-24 11:17:58
42270                 36004 2022-06-09 11:14:17
58658                 36004 2022-11-03 05:19:46
1317                    770 2021-05-26 11:54:41
1319                    742 2021-05-26 12:52:16
1320                   1276 2021-05-26 12:53:57
1329                    756 2021-05-28 12:33:07
1330                   1266 2021-05-30 09:07:51
1333                    740 2021-05-30 10:18:04
9525                   7490 2021-09-14 09:50:22
9526                    770 2021-09-14 10:00:04
34105                  2184 2022-03-31 17:08:53
1345                    742 2021-05-30 13:46:46
1347                   1276 2021-05-30 13:49:11
1351                    766 2021-05-31 09:15:43
1352                    766 2021-05-31 09:17:09
25947                 12002 2022-01-27 15:55:03
25953                  5011 2022-01-27 15:57:55
9576                   5011 2021-09-14 12:12:06
9578                    774 2021-09-14 13:42:29
17778                  5011 2021-11-24 13:30:40
17780                  5011 2021-11-24 13:33:54

In [12]:
bids_merged_df = all_tables_df['wp_type_bid'].merge(wp_posts_bids, left_on='post_id', right_on='ID')

NameError: name 'wp_posts_bids' is not defined

In [ ]:
bids_merged_df

In [ ]:
wp_posts_bids = all_tables_df['wp_posts'][all_tables_df['wp_posts']['post_type'] =='bid']
wp_posts_bids

In [ ]:
all_tables_df['wp_posts']

In [ ]:
merged_bid_df = all_tables_df['wp_type_bid'].merge(bids_reset, how='inner', left_on='post_id', right_on='post_id')

In [ ]:
merged_bid_df['is_bid_chosen_eq'] = (str(merged_bid_df['is_bid_chosen_x']) == str(merged_bid_df['is_bid_chosen_y']))

In [ ]:
merged_bid_df[['is_bid_chosen_x', 'is_bid_chosen_y', 'is_bid_chosen_eq']].head(300)

In [ ]:
list(merged_bid_df.columns)